name: Test

on:
  push:
    branches:
      - master
    tags-ignore:
      - '**'
    paths-ignore:
      - '**/*.md'
      - LICENSE
  pull_request:

jobs:

  linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Sources
      uses: actions/checkout@v3
    - name: Setup V
      uses: prantlf/setup-v-action@v1
    - name: Test
      run: make

  macos:
    runs-on: macos-latest
    steps:
    - name: Checkout Sources
      uses: actions/checkout@v3
    - name: Setup V
      uses: prantlf/setup-v-action@v1
    - name: Test
      run: make

  windows:
    runs-on: windows-latest
    steps:
    - name: Checkout Sources
      uses: actions/checkout@v3
    - name: Setup V
      uses: prantlf/setup-v-action@v1
    - name: Test
      run: cmd /c make.bat
